<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">About Us</h1>
            <p class="text-center sub-heading"> Grow Your Business with us</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text ">
                    <figure>
                        <img class="img-fluid" src="images/img2.jpg" alt="Business grow image">
                    </figure>
                </div>

                <!--right side-->
                <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column">
                    <h1>We are the Professional Developers ✌</h1>
                    <p>Welcome,we are Best-developers
                        ,Your Number one Source for All things.We're dedicated to giving you the Best of Work,
                        With a focus on [Three Characteristics, ie.Dependability,Customer Service and Uniqueness</p>
                    <button class="btn-style btn-primary">Read more</button>
                </div>
                <!--right side-->
            </div>
        </div>
    </div>
</div>
  